body {
  background: #fff;
  line-height: 1.6em;
  font-family: "Exo 2";
}

.ipp-speakers-image img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.ipp-speakers-image64x64 img {
    width: 64px;
    height: 64px;
    border-radius: 64px;
}

section .title span{
    border-bottom: 3px solid #e50050;
}

.ipp-event-partners figure img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
.ipp-event-partners figure img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

@media (max-width: 1199px) {
  h2,
  .header.large h2,
  .header.large h1 {
    font-size: 40px;
    line-height: 40px;
  }
}
