html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  line-height: 1.6em;
  font-family: "PT Sans", sans-serif;
}

.navbar {
  border-style: solid;
  border-width: 2px;
  border-color: #f9fafb;
  box-shadow: 0 0 12px 3px rgb(0 0 0 / 20%);
}

#ipp-navbar-main .navbar-item {
  font-weight: bold;
}

.ipp-main-banner {
  margin-top: 15px;
  background-image: url(../images/hero_background.jpg);
  background-color: #fff;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.ipp-main-banner .hero-body {
  height: calc(100vh - 76px);
}

.ipp-speakers-image {
  width: 200px;
  height: 200px;
  background: #4281ba;
  margin: 0 auto;
  /*border-radius: 200px;*/
}

.ipp-speakers-image64x64 {
  width: 64px;
  height: 64px;
  background: #4281ba;
  margin: 0 auto;
  display: none;
  /*border-radius: 64px;*/
}

.ipp-speakers-image img,
.ipp-speakers-image64x64 img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.ipp-speakers-image:hover img,
.ipp-speakers-image64x64:hover img {
  cursor: pointer;
  opacity: 0.5;
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(o);
}

section.ipp-section .title {
  font-size: 40px;
  letter-spacing: -1.5px;
}

section.ipp-section .title span {
  border-bottom: 3px solid #4281ba;
}

.ipp-event-sessions .media .media-left {
  font-size: 9pt;
  border: 1px solid #cccccc;
  padding: 0 4px;
}

.ipp-event-sessions .media .media-left div:first-child {
  border-bottom: 1px solid #cccccc;
}

.ipp-event-partners figure img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
.ipp-event-partners figure img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

.modal .modal-content {
  width: 800px;
}

.modal .box {
  border-radius: 0px;
}

.modal .box .title {
  margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
  .ipp-main-banner {
    background-image: url(../images/hero_background_mobile.jpg);
    background-position: top;
  }

  .ipp-main-banner .hero-body {
    height: 70vh;
  }

  #about {
    padding-top: 0;
  }

  section.ipp-section .title {
    font-size: 20px;
  }

  .modal .modal-close {
    background-color: black;
  }

  .modal .modal-content {
    width: 100%;
    max-height: calc(100vh - 0px);
  }
}
